			* {
				font-family: Arial, Verdana, sans-serif;
				color: black;
				text-align: center;
  font-style:oblique;}
p, * {
      font-family: 'AvaraBold';
      font-weight: normal;
      font-style : normal;
}
			body {
			  background-image:url(https://i.redd.it/y0mpvipk6xx11.jpg)
}
				width: 90%;
				margin: 0 auto;}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: blue;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: green;}
.column1 {
  background-color:orange;
}
.column2 {
  background-color:red;
}
.column3 {
  background-color:purple;
}

#feature {
  background-color: pink;
  background-image: url("https://i.redd.it/o70m3b7jizx11.jpg");
  background-size:contain;
  background-position: right;
  Background-repeat:no-repeat;
}
